h2 {
	text-align: center ;
}

.contenedor {
	width: 40% !important;
	margin-top: 13%;
	margin-left: 300px;
	border: 5px;
}
.contenedor2 {
	width: 40% !important;
	margin-top: 13%;
	margin-left: 300px;
	border: 5px;
}
